.book{
    display:flex;
    justify-content:center;
    position:sticky;
    white-space:20px;
    background-color:black;
   -webkit-text-fill-color: white;
   border-radius:10px;
   background-size: contain;

}
.book li a{
    text-decoration: none;
    text-align: center;
}
.books{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{   
  margin-left:auto;
  margin-right:auto;
  padding:30px;
  background-size:contain;
}
.grid{
    display:grid;
    margin-left:20px;
    margin-right:20px;
    gap:30px;
}
.grid-cols-3{
    grid-template-columns: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
.flex{
    display:flex;
    justify-content:center;
    position:sticky;
    flex-direction:column;
    background-size:contain;
    text-shadow: 20px;
}